html {
    background-color: #100717 !important;
}

body {
    width: 400px;
    height: 500px;
    color: #fff;
    font-size: 30px;
    background-color: #100717;
}

#daily-offers-popup {
    height: 660px;
}

.offer {
    font-size: 14px !important;
}

.uk-badge {
    margin: 3px !important;
}

.badge-red {
    background: #f00;
}

.badge-orange {
    background: #ff9d00;
}

.badge-blue {
    background: #21daff;
    color: #000 !important;
}

#top-holder {
    width: calc(100% - 20px);
}

#location-button {
    color: #fff;
    border-radius: 5px;
    border-color: inherit;
    line-height: 20px;
    min-height: 50px;
}

.dark-container {
    border-radius: 5px;
    background-color: #100717 !important;
    overflow-y: auto;
}

#location-select-list {
    height: 600px;
    width: 380px;
}

#location-search {
    border-radius: 5px;
    color: #fff;
    background-color: #100717;
}

#offers {
    width: 358px;
    height: 430px;
}

.uk-accordion-title {
    color: #fff;
}

.uk-accordion-content {
    width: 330px;
    height: fit-content;
}

.location-title {
    position: relative;
    user-select: none;
}

.location-option {
    padding: 5px 0;
}

.location-option:hover {
    font-weight: 500;
}

.location-task::before {
    content: "-";
    display: inline-block;
    line-height: 1;
}

.location-task:hover {
    font-weight: 500;
}

.remove-button {
    position: absolute;
    top: 2px;
    right: 30px;
    background-color: #555;
}

.remove-button:hover {
    opacity: 80%;
}
